
<div>
  <br><br><br>
    <div id="tableToPDF">
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.address }}</td>
        <td>
          <button class="inner-btn" (click)="editUser(user)">Edit</button>
          <button class="inner-btn"  (click)="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="generatePDF()">Generate PDF</button>
<button (click)="downloadPdf()">Download PDF</button>

<button (click)="viewPDF()">View PDF</button>

<div class="pdf-container" *ngIf="pdfcurrentUrl">
  <div>{{pdfcurrentUrl}}</div>
  <iframe id="pdfIframe" [src]="pdfcurrentUrl" width="100%" height="600px" type="application/pdf"></iframe>
 
 
</div>
<!-- 
<div class="pdf-container" *ngIf="pdfUrl">
  <iframe id="pdfIframe" width="100%" height="600px"></iframe>
  
 
</div> -->
<!-- <button (click)="downloadPDF()">Download PDF</button>
<button (click)="viewPDF()">Download PDF</button> -->

<div >

  <!-- Your table content here -->
</div>

</div>
  